
@{
    ViewBag.Title = "Credentials";
}

<hgroup>
    <h1>Error.</h1>
    <h2>You are not a valid user click the button to get an Id.</h2>
</hgroup>

<section>

    <button type="button" class="btn btn-default" create>Create Credential Id</button>
    <button type="button" class="btn btn-default" clean>Clean Credential Id</button>
    <button type="button" class="btn btn-default" dump>Make Dump Ajax</button>

</section>


@section scripts {

    
    <script type="text/javascript">

        $(function () {

            // handle error code for any ajax call
            $.ajaxSetup({
                error: function (x, status, error) {
                    if (x.status == 999) {

                        var $h2 = document.createElement('h4');
                        $h2.innerHTML = 'Your credential Id has expired. <br/>Please create a new one again to continue.';

                        swal({
                            title: "Sorry!",
                            icon: "error",
                            content: $h2,
                            button: "Got It!",
                        });

                    }
                }
            });

            // create credential id
            $('button[create]').on('click', function () {
                $.get('/Home/CreateSession', function (response) {

                    var data = JSON.parse(response);

                    var $h2 = document.createElement('h4');
                    $h2.innerHTML = 'Your credential Id: ' + data.Id + '. <br />Now you can visit the home page.<br />To clean your credential Id refresh the page.';

                    swal({
                        title: "Valid Visitor!!",
                        icon: "success",
                        content: $h2,
                        button: "Got It!",
                    });

                });
            });

            $('button[clean]').on('click', function () {
                $.get('/Home/CleanSession', function (response) {
                    swal("Good job!", 'Cleaned Id.', "success");
                });
            });

            // only manage the response
            $('button[dump]').on('click', function () {
                $.post('/Home/AjaxCall', function (response) {
                    swal("Good job!", 'You have permissions to do AJAX request.', "success");
                });
            });
            
        });

    </script>

}