@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Manage Authorization in View & AJAX Request</h1>
    <p class="lead">Now you can visit the home page because you have a valid session, if you want to remove this session click the button for cleaning it.</p>
    <p><button clean type="button" class="btn btn-primary btn-lg">Clean Session</button></p>
</div>


@section scripts {
    <script type="text/javascript">
        (function () {
            $('button[clean]').on('click', function () {
                $.get('/Home/CleanSession', function (response) {
                    swal("Good job!", 'Cleaned Id. Now the windows refres the page to valid the session.', "success");
                    setTimeout(function () { window.location.reload(true); }, 4000);
                });
            });
        })();
    </script>
}